{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Verify{% endblock title %}
{% block content %}
    <h2>Verify</h2>
    {% if user.is_authenticated %}
        <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">License Plate</th>
            <th scope="col">Motorcycle</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for page in users_false %}
                <th scope="row"><img src="http://localhost:8000/media/{{ page.profile.image }}" class="rounded w-25">
                </th>
                <td>{{ page.profile.family_name }} {{ page.profile.last_name }}</td>
                <td>{{ page.plate }}</td>
                <td>{{ page.brand }} {{ page.model }}</td>
                <td>
                    {% if user.is_superuser %}
                        <form action="{% url 'user_profile:verify' page.profile.user_id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success" name="Confirm">
                        </form>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
    {% else %}
    {% endif %}
{% endblock content %}