{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1>Homepage</h1>
    {% if user.is_authenticated %}
    
        <img src="http://localhost:8000/media/{{ user.profile.image }}" class="rounded w-25" alt="...">
        <p>Hi {{ user.profile.family_name }}!</p>
        <a href="{% url 'update' user.profile.id %}">Profile</a>
        <a href="{% url 'multiple_image_upload' user.profile.id %}">Multiple Image Upload</a>
        {% comment %} <p><a href="{% url 'logout' %}">Log Out</a></p> {% endcomment %}

    {% else %}

        <p>You are not logged in</p>
        <p><a href="{% url 'login' %}">Log In</a> |
            <a href="{% url 'signup' %}">Sign Up</a></p>
            
    {% endif %}
    <hr>
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">License plate</th>
        <th scope="col">Brand</th>
        <th scope="col">Status</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for post in posts %}
        <th scope="row">{{post.id}}</th>
        <td>{{post.name}}</td>
        <td>{{post.line}}</td>
        <td>{{post.phone}}</td>
        <td>{{post.address}}</td>
      </tr>
     {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock content %}