{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1>Homepage</h1>
    {% if user.is_authenticated %}

        <img src="http://localhost:8000/media/{{ user.profile.image }}" class="rounded w-25">
        <p>Hi {{ user.profile.family_name }}!</p>
        <a href="{% url 'user_profile:update' user.profile.id %}">Profile</a></p>

        <hr>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">License plate</th>
                <th scope="col">Status</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for park in parks %}
                    <th scope="row">{{ park.motorcycle.profile.family_name }} {{ park.motorcycle.profile.last_name }}</th>
                    <td>{{ park.motorcycle.brand | upper }} {{ park.motorcycle.model | upper }}</td>
                    <td>{{ park.motorcycle.plate }}</td>
                    <td>{{ park.get_status_display }}</td>
                    <td>{{ park.created_at }}</td>
                    <td>{{ park.updated_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'page:export' %}">Export</a>

    {% else %}

        <p>You are not logged in</p>
        <p><a href="{% url 'user_profile:login' %}">Log In</a> |
            <a href="{% url 'user_profile:signup' %}">Sign Up</a></p>

    {% endif %}
{% endblock content %}